body {
  min-height: 100vh;
  background-image: url(./assets/img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.logo-img {
  height: 40px;
}

.preview-contain {
  padding-top: 42px;
}

.square {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.square-content {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  cursor: pointer;
}

.pokemon-img {
  max-width: 80%;
  max-height: 80%;
}

.pokemon-id {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
}

.pokemon-type {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 20%;
}

.pokemon-type img {
  margin-bottom: 3px;
}

.pokemon-name {
  position: absolute;
  bottom: 4px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 2;
}

.pokemon-name::first-letter {
  text-transform: capitalize;
}

.poke-box-shadow:hover {
  box-shadow: 1px 1px 20px whitesmoke;
}

.poke-box-shadow:hover .poke-filter {
  filter: drop-shadow(2px 5px 7px black);
}

.zoom {
  transition: transform 0.2s;
}

.poke-box-shadow:hover .zoom {
  transform: scale(1.1);
  z-index: 1;
}
